# Ignore files from steup.sh

# NAMD
NAMD_2.14_Linux-x86_64-multicore/
namd.tar.gz

# VMD
vmd-1.9.4a57/
vmd.tar.gz

# Temporary files
/tmp/
*.log
*.out

# Python cache
__pycache__/
*.pyc

# R cache
.Rhistory
.RData
.Rproj.user/